MaNTA
Tests/UnitTests/UnitTests
/*.conf
/*.report
/*.plot
*.dat
!*.ref.dat
*.nc
!*.ref.nc
Makefile.local
*.o
*.so
sundials/
resources/
figs/
runs
runs/
.vscode/
python/__pycache__/
build/
python/Tests/__pycache__/
python/Tests/.pytest_cache/
python/.ipynb_checkpoints/
python/random/

venv
gmon.out
