
# A simple makefile for compiling on linux
# if you are following the guide in the README

# Uncomment to use clang instead of g++
CXX = clang++

# Uncomment for debug information
#DEBUG = on
#CXXFLAGS = -DFPEXCEPT #-DSUNDIALS_DEBUG

SUNDIALS_DIR=/home/ian/projects/sundials/install
TOML11_DIR = /home/ian/projects/toml11
EIGEN_DIR = /usr/include/eigen3

