
# A simple makefile for compiling on linux
# if you are following the guide in the README

# Uncomment to use clang instead of g++
# CXX = clang++

# Uncomment for debug information
# DEBUG = on


#CXXFLAGS = -DFPEXCEPT #-DSUNDIALS_DEBUG

# Points to an installation of SUNDIALS, v7.1.0 or above
SUNDIALS_DIR= ../sundials/install

# If Eigen is not in /usr/include, you need to specify this
EIGEN_DIR = /usr/include/eigen3

